<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <title>
        Login
    </title>
    <body>
        {% load crispy_forms_tags %}
        <h1 class ="mt-2 text-center">Login</h1>
        <hr class ="mt-0 mb-4">
        <div id="content" , name ="content" class="main">
            <div class="row justify-content-center">
                <div class ="col-8">
                    <p>
                        Your password has been set. You may go ahead and <a href="/">sign in</a> now.
                        </p>
                </div>
            </div>
        </div>
    </body>
</html>